{{> navigation}}
<body id="body">
  <section>
    <div class="container-fluid">
      <div class="row bg-warning py-3 ">
        <div class="col-10">

          <hr class="bg-white">
        </div>
        <div class="col-2">
          <button class="btn btn-light">NEW ENTRY</button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-6 half ">ab</div>
      <div class="col-3">b</div>
      <div class="col-3">c</div>
      </div>
      
    </div>
  </section>
</body>