{{> navigation}}

<body>
  <section>
    <div class="container-fluid">
      <div class="row bg-warning py-3 ">
        <div class="col-10 pl-0">

          <hr class="bg-white pt-1">
        </div>
        <div class="col-2">
          <button class="btn btn-light" data-toggle="modal" data-target="#exampleModal">NEW ENTRY</button>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row my-1">
        <div class="col-6 ">
          <img class="img-fluid"
            src="http://codeskulptor-demos.commondatastorage.googleapis.com/GalaxyInvaders/back05.jpg" alt="">
        </div>
        <div class="col-3 ">
          <div class="d-block bg-dark w-100 h-100"></div>
        </div>
        <div class="col-3">
          <div class="d-block bg-dark w-100 h-100"></div>
        </div>
      </div>

      <div class="row my-1">
        <div class="col-3 half ">
          <div class="d-block bg-dark w-100 h-100"></div>
        </div>
        <div class="col-6">
          <img class="img-fluid"
            src="http://commondatastorage.googleapis.com/codeskulptor-assets/lathrop/nebula_blue.s2014.png" alt="">
        </div>
        <div class="col-3">
          <div class="d-block bg-dark w-100 h-100"></div>
        </div>
      </div>

    </div>

    <div class="container">
      <div class="row my-1">
        <div class="col-6 ">
          <img class="img-fluid"
            src="http://codeskulptor-demos.commondatastorage.googleapis.com/GalaxyInvaders/back05.jpg" alt="">
        </div>
        <div class="col-3 ">
          <div class="d-block bg-dark w-100 h-100"></div>
        </div>
        <div class="col-3">
          <div class="d-block bg-dark w-100 h-100"></div>
        </div>
      </div>
  </section>

  

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>