{{> navigation}}

<body id="body">
  <section>
    <div class="container-fluid">
      <div class="row bg-warning py-3 ">
        <div class="col-10">

          <hr class="bg-white">
        </div>
        <div class="col-2">
          <button class="btn btn-light">NEW ENTRY</button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row my-1">
        <div class="col-6 half ">
          <img class="img-fluid"
            src="http://codeskulptor-demos.commondatastorage.googleapis.com/GalaxyInvaders/back05.jpg" alt="">
        </div>
        <div class="col-3 ">
          <div class="d-block bg-dark w-100 h-100"></div>
        </div>
        <div class="col-3">
          <div class="d-block bg-dark w-100 h-100"></div>
        </div>
      </div>

      <div class="row my-1">
        <div class="col-3 half ">
          <div class="d-block bg-dark w-100 h-100"></div>
        </div>
        <div class="col-6">
          <img class="img-fluid"
            src="http://commondatastorage.googleapis.com/codeskulptor-assets/lathrop/nebula_blue.s2014.png" alt="">
        </div>
        <div class="col-3">
          <div class="d-block bg-dark w-100 h-100"></div>
        </div>
      </div>

    </div>
  </section>
</body>