<body id="body">
  <section>
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-lg-6 text-center mt-5">

          <div class="row">
            <div class="col-3 pr-2">
              <hr class="heading-line-right">
            </div>
            <div class="col-6 px-0">
              <h4 class="text-white">START YOUR DIARY</h4>
            </div>
            <div class="col-3 pl-2">
              <hr class="heading-line-left">
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-4 py-5 px-5 bg-white rounded-lg">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                  <input type="email" class="form-control py-4" placeholder="email address">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                  <input type="email" class="form-control py-4" placeholder="email address">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                  <input type="email" class="form-control py-4" placeholder="email address">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                  <input type="email" class="form-control py-4" placeholder="email address">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                  <input type="email" class="form-control py-4" placeholder="email address">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                  <button class="btn btn-danger pt-2 pb-3 btn-block">Sign Up</button>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</body>