/* li {
    font-size: 2rem;
    width: 300px;
    margin: 4px;
    padding: 4px;
    list-style: none
}
.midlaner {background-color: #ffea00}
.toplaner {background-color: #eeeeee} */

#body {
    background: url('http://commondatastorage.googleapis.com/codeskulptor-assets/lathrop/nebula_blue.s2014.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
.bg-warning{
    background-color: #fcdcd1 !important;
}
.heading-line-right{
    background: white;
height: 2px;
width: 50%;
float: right;
display: block;
}
.heading-line-left{
    background: white;
height: 2px;
width: 50%;
float: left;
display: block;
}

.home-logo{
    border: white 8px solid;
    font-size: 68px;
}
.navigation-log{
    border: white 4px solid;
    padding: 5px 15px 5px 15px;
}
nav{
    background: url('http://commondatastorage.googleapis.com/codeskulptor-assets/lathrop/nebula_blue.s2014.png') center center fixed;
}
.ruler{
    width: 75px;
    height: 5px;
    display: inline-block;
    background-color: white;
}
